body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin:0;
    padding:0;
    overflow:hidden;
    font-family:'Segoe UI', sans-serif;
    font-weight: bold;
    background-color: hsl(0, 0%, 20%);
}

.slider-row{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.slider-group{
    display:flex;
    flex-direction: column;
}

#slider-container{
    background-color: hsl(0, 0%, 90%);
    padding:0.3rem 1rem;
    margin:0.5rem;
    width:8.5rem;
}

.plots-row{
    display:flex;
    flex-direction:row;
    flex:1;
    justify-content: center;
    align-items: center;
}

@media (orientation:portrait){
    .plots-row{
        flex-direction: column-reverse;
    }
}

.plot-container{
    position:relative;
    width:min(45cqmax, 100cqmin);
    height:min(45cqmax, 100cqmin);
    background-color: hsl(0, 0%, 80%);
}
#poincare-axes{
    position:absolute;
    width:100%;
    height:100%;
    pointer-events: none;
}
#trajectory-axes{
    position:absolute;
    width:100%;
    height:100%;
    pointer-events: none;
}
text{
    font-size: 1rem;
}
.axis-label{
    font-size:1.5rem;
}